
//<%-include('include/_header') %>
//<%-include('include/_footer') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDE APP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="header">
<nav>
    <div class="containe">
    <div class="text-center">
        <a href="/" class="nav-brand text-dark">All users</a>

    </div>>

    </div>
</nav>

    </header>
    <div>
        <img src=<%='/images/'+data.image  %> width="150px" "alt="...">
 
    <form method="post" class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Full Name</label>
          <input type="email" class="form-control" id="Name">
        </div>
        
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email <Address></Address></label>
            <input type="email" class="form-control" name="Email">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Phome Number</label>
            <input type="password" class="form-control" name="Phone">
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Country</label>
            <input type="email" class="form-control" name="City">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">State/Region</label>
            <input type="password" class="form-control" name="State">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">City</label>
            <input type="password" class="form-control" name="City">
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Address</label>
            <input type="email" class="form-control" name="Address">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Zip/Code</label>
            <input type="password" class="form-control" id="Postcode">
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Update User</button>
        </div>
      </form>
    </div>


</body>
</html>
